@font-face { font-family: LGSmart; src: url('..\\src\\LG_Smart_UI\\LG_Smart_UI-Regular.ttf'); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  max-width: 80vw;
  height: 100vh;
  margin: 0 auto;
  background-color: #FCFBF8;
  font-family: LGSmart, sans-serif;
}

.main {
  display: flex;
}

.linkMenu{
  margin-right: 3rem;
}

.mainSectionWrapper{
  display: flex;
}



