.linkMenu{
    background-color: #D9D9D9;
    width: 15vw;
    height: 85vh;
    padding-top: 1rem;
}

.list{
    list-style: none;
}

.link {
    font-size: 1.3rem;
    color: #6b6b6b;
    text-decoration: none;
    padding-left: 2rem;
    font-weight: bold;
}

.link:hover {
    /* border-bottom: 1px solid #A40033;
    animation: normal; */
    background-color: #A40033;
    color: #FbFbF8;
    animation: 2s;
    padding-right: 1rem;
}

li + li {
    padding-top: 1.2rem;
}